@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-princial: 'Inter';
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #E7ECEF !important;
}

.TestP li:last-child div {
  flex-direction: row-reverse;
}

.TestP li:last-child div::after {
  display: none;
}

.TestP li:last-child {
  width: auto;
}

.videoPlayer video {
  border-radius: 18px;
  max-height: 750px;
}

.videoScroll {
  scrollbar-width: none; 
}

@layer components {
  .btn-success {
    @apply select-none rounded-lg bg-[#42E083] 2xl:py-3 2xl:px-12 py-1 normal-case text-center align-middle font-sans 2xl:text-xl xl:text-xl lg:text-xl text-base font-normal text-white shadow-md shadow-slate-800/20 transition-all hover:shadow-lg hover:shadow-slate-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none;
  }

  .btn-success-modal {
    @apply select-none rounded-lg bg-[#F6A97D] 2xl:py-3 2xl:px-12 py-1 normal-case text-center align-middle font-sans 2xl:text-xl xl:text-xl text-base font-normal text-white shadow-md shadow-slate-800/20 transition-all hover:shadow-lg hover:shadow-slate-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none;
  }

  .bg-Form {
    @apply lg:bg-white lg:border lg:border-gray-200 rounded-lg justify-evenly lg:shadow md:flex-row pr-8;
  }

  .bg-Form-input {
    @apply placeholder-[#ABAFB1] px-4 bg-white border-[#8b8c8923] block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-slate-200 sm:text-sm sm:leading-6
  }
}

@media (max-width:650px) {
  main {
    height: auto !important;
  }
}

:root {
  --WH: 40px;
  --radius: var(--WH) / 2;
  --dur: 3s;
  --delay: var(--dur) / 2;
}

.btn-text {
  margin: 0 auto;
  display: block;
  border-radius: var(--radius);
  position: relative;
}

.btn-text:first-of-type {
  background: #42e083;
  top: var(--radius);
  animation: circleScale var(--dur) infinite;
  animation-delay: var(--delay);
  z-index: 1;
}

.btn-text:nth-of-type(2) {
  background: #f6a97d;
  top: calc(-1 * var(--radius));
  opacity: 0.5;
  transform: scale(1);
  animation: circleScale var(--dur) infinite;
  z-index: 10;
}

@keyframes circleScale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
}

.btn-text2 {
  border-radius: var(--radius);
  position: fixed;
}

.btn-text2:nth-of-type(2) {
  background: #42e083;
  opacity: 0.5;
  transform: scale(1);
  animation: circleScale var(--dur) infinite;
  z-index: 10;
}

.lottie-catalog::after {
  content: "¡Comprar Ahora!";
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  top: -55px;
  position: relative;
  font-size: 24px;
  font-weight: 700;
  color: #53545C;
}

.lottie-main::after {
  content: "Agregar al carrito de compra";
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  top: -70px;
  position: relative;
  font-size: 24px;
  font-weight: 700;
  color: #53545C;
}


.react-player video{
  object-fit: cover;
}


@media (max-width:380px) {
  .ScrollModal {
    max-height: 320px !important;
  }

  .scrollMobileCart {
    max-height: 320px !important;
  }
}

@media (max-width:420px) {
  .lottieImage .button{
    width: 95%;
  }
}

@media (max-width:430px) {
  .ScrollModal {
    max-height: 500px;
  }

  .scrollMobileCart {
    max-height: 500px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.button {
  background-color: #42E083; 
  color: #53545C; 
  border: none;
  width: 90%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  animation: pulse 1s infinite; 
}